/* =======================
    Global Communications
========================== */
@use "../helpers";

#global-communications{
    padding: 40 px 24px;
    text-align: center;

    p{
        margin: 24px 0px 48px;
    }
}